header{
    background-color: darkcyan;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: white;
    text-align: center
}

body{
    background-color: lightgreen;
    height: 100vh;
}

.background{
    background-color: #3A3040;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}