header{
    background-color: darkcyan;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    color: white;
    text-align: center
}

body{
    background-color: lightgreen;
    height: 100vh;
}