.green {
    background-color: green;
}
    
.orange {
    background-color: orange;
}
.blue {
    background-color: blue;
}
.white {
    background-color: white;
}

body {
    position: relative;
    background-color: grey;
    height: 100vh;
    overflow:hidden;
}

.arena {
    border: 3px solid white;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 80%;
    width: 90%;
    margin: 0px;
    padding: 0px;
}
.car {
    position: absolute;
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border: 4px inset black;
    border-radius: 50%;
    border-style: inset;
    margin: 0px;
    padding: 0px;
}
.car.blue {
    left: 100px;
}
.car.orange {
    right: 100px;
}
.ball {
    position: absolute;
    top:  calc(50% - 50px);
    left: calc(50% - 50px);            
    height: 100px;
    width: 100px;
    border: 4px inset black;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
}
.goal {
    position: absolute;
    width: 40px;
    height: 30%;
    top: 35%; 
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}       
.centerline {
    position: absolute;
    height: 100%;
    width: 3px;
    left: calc(50% - 1.5px);
}
.goal.blue{
    left: -39px;
    border-left: 3px solid white;
}
.goal.orange {
    right: -39px;
    border-right: 3px solid white;
}

#scoreboard{
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    position: absolute;
    top: 1.25%;
    left: 35%;
    height: 7.5%;
    min-width: 30%;
    margin: 0px;
    padding: 0px;
    background-color: darkgray;
}

.score, .timer{
    height: 100%;
    width: 20%;
    font-size: 8vh;
    line-height: 7.5vh;
    color: white;
    text-align: center;
}

.score{
    width: 20%;
}

.timer{
    width: 60%;
}

#infobanner{
    position: absolute;
    top: 30%;
    align-content: center;
    align-self: center;
}